Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  -cert-err58-cpp,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  google-*,
  -google-readability-todo,
  -google-build-using-namespace,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner,
  -misc-use-anonymous-namespace,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-include-guards,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-container-size-empty,
  -readability-use-anyofallof,
  -readability-braces-around-statements
